<h1 style="text-align: center;">Employee Details</h1>
<div class="actionButtons">
  <button class="btn btn-primary" (click)="addNewRow()">Add New Row</button>
  <button class="btn btn-primary" (click)="editSelectedRow()">Edit Row</button>
  <button class="btn btn-primary" (click)="deleteSelectedRow()">Delete Row</button>
</div>
  <ag-grid-angular class="ag-theme-alpine agGrid" [gridOptions]="gridOptions"
  [rowData]="rowData"
  [columnDefs]="columnDefs" [animateRows]="true" [rowSelection]="rowSelection">
  </ag-grid-angular>

  <ngx-spinner type="ball-scale-multiple"></ngx-spinner>